<h1>Contact Us</h1>

<!-- Template-Driven Form -->
<form #templateForm="ngForm" (ngSubmit)="onTemplateSubmit(templateForm)" class="form-grid">
  <input type="text" placeholder="First Name *" name="firstName" ngModel required />
  <input type="text" placeholder="Last Name *" name="lastName" ngModel required />
  <input type="email" placeholder="Email ID *" name="email" ngModel required />
  <div>
    <input type="text" value="+91" disabled />
    <input type="text" placeholder="Mobile Number *" name="mobile" ngModel required />
  </div>
  <textarea placeholder="Message *" name="message" ngModel required></textarea>
  <button type="submit">Send</button>
</form>

<!-- Reactive Form -->
<h1>Reactive Form</h1>
<form [formGroup]="reactiveForm" (ngSubmit)="onReactiveSubmit()" class="form-grid">
  <input type="text" placeholder="First Name *" formControlName="firstName" />
  <input type="text" placeholder="Last Name *" formControlName="lastName" />
  <input type="email" placeholder="Email ID *" formControlName="email" />
  <div>
    <input type="text" value="+91" disabled />
    <input type="text" placeholder="Mobile Number *" formControlName="mobile" />
  </div>
  <textarea placeholder="Message *" formControlName="message"></textarea>
  <button type="submit" >Send</button>
</form>

