.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

input {
    height: 41px;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    font-size: 16px;
    width: 350px;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #131414;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 1s;
}

.menu a:hover {
    background-color: #e2e6ea;
}