h2{
    
    text-align: center;
}

.high{
    font-weight: bold;
}

.card {
    display: flex;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 8px;
    margin: 16px auto;
    width: 80%;
    font-size: 18px;
}

.card-image {
    width: 50%;
    border-radius: 8px;
    margin-right: 16px;
}

.card-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content p {
    margin: 8px 0;
}