
<div>
    <h2>{{data.type}}</h2>
    <div class="card">
        <img [src]="imgsrc" alt="Card Image" class="card-image" />
        <div class="card-content">
            <p><span class="high">From</span>: {{data.price | currency:'INR'}} {{data.currency_code}} {{data.billing_cycle}}</p>
            <p><span class="high">Property-description</span>: {{data.description}}</p>
            <p><span class="high">Address</span>: {{data.address}}</p>
            <p><span class="high">Available From</span>: {{data.available_from | date:'fullDate'}}</p>
            <button appAlertIt>select your room</button>
            
        </div>
    </div>
</div>